@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
nav {
  display: flex;
  padding: 1.2em 0;
  justify-content: space-around;
  color: gray;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  max-width: 100vw;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
nav ul li .active {
  color: #8ea9b4;
}
nav ul li a {
  padding: 0 1em;
  text-decoration: none;
  color: gray;
}
nav ul li a:hover {
  color: #8ea9b4;
  text-decoration: underline;
  cursor: pointer;
}
nav .logo {
  cursor: pointer;
}
nav .login a {
  padding: 0 0.5em;
  text-decoration: none;
  color: gray;
}
nav .login a i {
  padding-right: 0.5em;
}
nav .login a:hover {
  color: #8ea9b4;
  cursor: pointer;
  text-decoration: underline;
}
.login span {
  color: #798b92;
}
.burger-menu {
  display: none;
}
@media screen and (max-width: 920px) {
  nav {
    flex-direction: column;
    padding: 1em;
    background-color: white;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav .login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .burger-menu {
    display: block;
  }
}
@media screen and (min-width: 920px) {
  nav ul {
    display: flex !important;
  }
  nav .login {
    display: flex !important;
  }
}
